.photo-grid__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid__list {
    gap: 14px;
  }
}

@media (max-width: 320px) {
  .photo-grid__list {
    row-gap: 12px;
  }
}
