.video {
  margin-bottom: 102px;
  padding: 0 48px;
  box-sizing: border-box;
}

@media (max-width: 690px) {
  .video {
    padding: 0 16px;
  }
}

@media (max-width: 360px) {
  .video {
    margin-bottom: 64px;
  }
}
