.lead__image {
  display: block;
  margin: 64px auto 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .lead__image {
    margin-top: calc((100vw - 320px) / (768 - 320) * (56 - 40) + 40px);
    width: 100%;
  }
}

@media (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}
