.cover {
  position: relative;
  z-index: 1;
  margin: 92px auto 0;
  width: calc(100% - 48px * 2);
  background: url("../../images/cover-trains.jpg") no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}
