.place__link {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 18px;
  line-height: 122%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fff;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.place__link:hover {
  opacity: 0.8;
}

@media (max-width: 690px) {
  .place__link {
    display: block;
    margin-bottom: 32px;
  }
}
