.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 92px auto 24px;
  width: calc(100% - 48px * 2);
}

@media (max-width: 768px) {
  .footer {
    margin-top: 88px;
    width: calc(100% - 24px * 2);
  }
}

@media (max-width: 725px) {
  .footer {
    display: block;
    margin: 64px 0 24px 16px;
    width: calc(100% - 16px);
  }
}
